Flask
joblib
pandas
numpy
scikit-learn
beautifulsoup4
Flask-SQLAlchemy
nltk
plotly
tensorflow==2.15.0
matplotlib
fer
wget
python-dotenv
requests
Flask_MySQLdb
spotipy
opencv-python
azure-ai-textanalytics
azure-cognitiveservices-speech
mysql-connector-python
openai
langchain
chromadb
tiktoken
unstructured
Flask_bcrypt
langchain-openai
Flask_socketio
tensorflow-object-detection-api
protobuf==3.20.*
diffusers
Pillow==9.5.0

